
.github-profile {
  margin: 2rem;
  text-align: center;
}
img {
  width: 150px;
}
.info {
  display: inline-block;
  margin-left: 12px;
  text-align: left;

}
.name {
   	font-size: 1.5rem;
     font-weight: bold;
}
